.toplist-item {
    display: flex;
}

.toplist-item__button {
    display: inline-block;
    padding: 25px 20px;
    background-color: #65c82d;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
}

.button__subtex {
    display: block;
    font-size: 12px;
    font-weight: normal;
}

/* .toplist-item__container {
} */

.toplist-item__container-left {
      flex-basis: 66%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
  }


.toplist-item__container-right {
    display: flex;
    align-items: center;
    flex-basis: 33%;
}

